server:
  port: 0

spring:
  application:
    name: ELASTIC-SERVICE

  ai:
    vectorstore:
      elasticsearch:
        index-name: spring-ai-document-index
        dimensions: 1536  # 사용 중인 임베딩 모델 차원수
    openai:
      api-key: ${OPENAI_API_KEY}
      embedding:
        options:
          model: text-embedding-3-small   # 또는 text-embedding-3-l
      chat:
        options:
          model: gpt-4o-mini   # 기본 모델

  kafka:
    bootstrap-servers: localhost:9092 
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest

  thymeleaf:
    enabled: false

  cloud:
    discovery:
      enabled: true
    loadbalancer:
      ribbon:
        enabled: false

  elasticsearch:
    uris: http://localhost:9200 
    connection-timeout: 5s
    socket-timeout: 30s

  data:
    elasticsearch:
      repositories:
        enabled: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/   # 유레카가 있는 '앱서버'의 사설 IP

springdoc:
  api-docs:
    version: openapi_3_0
    enabled: true
    path: /v3/api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

logging:
  level:
    org.elasticsearch.client: TRACE
    com.sejong.elasticservice.rag: DEBUG
    org.springframework.ai: DEBUG

app:
  kafka:
    topic: project-events
